@font-face {
    font-family: 'Renner*';
    font-style: normal;
    font-weight: 400;
    src: local('Renner*'), url('https://fonts.cdnfonts.com/s/19628/Renner_400_Book.woff') format('woff');
}

@font-face {
    font-family:"Benzin-medium" ;
    src: url(../css/fonts/benzin-medium.ttf) format('truetype');
}

@font-face {
    font-family:"RennerBold" ;
    src: url(../css/fonts/renner_bold.otf) format('truetype');
}

@font-face {
    font-family:"RennerItalic" ;
    src: url(../css/fonts/renner_book\ italic.otf) format('truetype');
}

@font-face {
    font-family:"Benzin-bold" ;
    src: url(../css/fonts/benzin-bold.ttf) format('truetype');
}

@font-face {
    font-family:"Benzin-semibold" ;
    src: url(../css/fonts/benzin-semibold.ttf) format('truetype');
}

header, body {
    background-color: #efefef;
    font-family: 'Renner*';
    color: #0a2652;
}

/* Estilos generales existentes */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-fluid {
    justify-content: space-between;
}

.menu_secciones {
    display: flex;
    flex-direction: row;
}

.navbar {
    position: fixed;
    z-index: 1111;
    width: 100%;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav a {
    color: #0a2652;
    text-decoration: none;
    font-weight: 500;
}

.navMenu {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    background: rgba(38, 91, 137, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px rgba(209, 213, 219, 0.3);
    border-radius: 40px;
}

.lista {
    position: relative;
    display: inline-block;
}

.lista::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.08em;
    background-color: #0a2652;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.lista:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.lista:not(:hover)::after {
    transform-origin: right;
}

#principio_pag {
    z-index: 0;
}

/* Estilos para menú responsive */
@media (max-width: 768px) {
    .navbar-nav {
        display: none; /* Oculta los ítems del menú */
    }

    .menu-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%; /* Debajo del menú principal */
        left: 0;
        right: 0;
        background-color: rgba(38, 91, 137, 0.9); /* Fondo oscuro */
        padding: 1em;
        z-index: 1112;
        border-radius: 0 0 10px 10px;
    }

    .menu-items.active {
        display: flex; /* Muestra el menú desplegable */
    }

    .menu-items .nav-link {
        color: white; /* Color de los enlaces en móvil */
        padding: 0.5em 0;
        text-align: center;
        text-decoration: none;
    }

    .menu-items .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.2); /* Efecto hover */
        border-radius: 5px;
    }

    /* Oculta los ítems principales del menú y muestra el botón */
    .menu img[alt="Comillas"] {
        display: inline-block;
        cursor: pointer;
    }
}

/* SECCION INTRO */
.seccion_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #0a2652;
    padding: 20px;
    max-width: 100%;
    background: linear-gradient(to bottom, #efefef,#265B89);
    background-size: 200% 200%; /* Permite el movimiento */
    -webkit-animation: gradientAnimation 16s ease infinite;
    -moz-animation: gradientAnimation 16s ease infinite;
    animation: gradientAnimation 16s ease infinite;
}

.seccion_intro h1 {
    font-family: "Benzin-medium";
    font-size: 6vh;
}

.seccion_intro h2 {
    font-size: 3vh;
}

.seccion_intro p {
    font-size: 2.5vh;
}

.italic {
    font-family: "RennerItalic";
}

@-webkit-keyframes gradientAnimation {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

@-moz-keyframes gradientAnimation {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

/* SECCION AUTENTICA */
.section_autentica {
    position: relative;
    overflow: hidden;
}

.autentica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 2em;
}

.iceberg-context {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em; /* Espaciado entre la imagen y el texto */
    flex-wrap: wrap; /* Acomoda contenido en pantallas pequeñas */
}

.image-container {
    flex: 1 1 40%;
    text-align: center;
}

.image-container img {
    max-width: 85%;
    height: auto;
    padding-top: 1em;
}

.text-container {
    flex: 1 1 55%; 
    text-align: right;
}

.text_autentica h1 {
    font-family: "Benzin-semibold";
    font-size: 5vh;
    margin-bottom: 1vh;
}

.text_autentica h2 {
    font-family: "Benzin-medium";
    font-size: 3.5vh;
    margin-bottom: 1em;
}

.text_autentica p {
    font-size: 2.5vh;
    line-height: 1.6;
    margin-bottom: 2em;
}

.text_transforma h4 {
    font-family: "RennerBold";
    font-size: 2.8vh;
    margin-bottom: 1em;
}

.text_transforma p {
    font-size: 2.5vh;
    line-height: 1.6;
    margin-bottom: 2em;
}

.button-container {
    text-align: right;
}

.btn-transform {
    padding: 1em 2em;
    font-size: 2vh;
    background-color: #265B89;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s, font-size 0.3s;
}

.btn-transform:hover {
    background-color: #0a2652;
    font-size: 2.2vh;
}

/* SOBRE MI */
.section_aboutme {
    position: relative;
    overflow: hidden;
}

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 2em;
}

.img-fluid {
    flex: 1 1 40%;
    text-align: center;
    max-width: 80%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    padding-top: 1em;
}

.text-container {
    flex: 1 1 55%; 
    text-align: right;
}

.text_aboutme h1 {
    font-family: "Benzin-semibold";
    font-size: 5vh;
}

.text_aboutme h2 {
    font-family: "Benzin-medium";
    font-size: 3.5vh;
}

.text_aboutme p {
    font-size: 2.5vh;
    line-height: 1.6;
    margin-bottom: 1em;
}

.text_aboutme a {
    font-family: "RennerBold";
}

.row {
    display: flex;
    align-items: center;
}

.card-body {
    text-align: center;
}

.card-body h5 {
    text-align: center;
}

.custom-card {
    background-color: #265B89;
    color: white;
    border: none;
    transition: transform 0.3s ease;
}

.custom-card:hover {
    transform: scale(1.05);
}

.custom-card-title {
    color: #ffffff;
}

.text-center h1 {
    font-family: "Benzin-semibold";
}

.text-center p {
    font-size: 2.5vh;
}

.text-center a {
    font-family: "RennerBold";
}

.text-center.mb-5 {
    margin-bottom: 0.5rem;
}

.container.py-5 {
    padding-top: 21em;
}

.custom-text-container {
    padding-top: 1rem;
}

.custom-paragraph {
    width: 100%;
}

/* metodologia */

/* Estilos para los primeros tres cards con fondo azul y texto blanco */
.page-mikami .card-custom-azul {
    background-color: #0a2652; /* Fondo azul */
    color: #efefef; /* Texto blanco */
    border: 2px solid #0a2652; /* Bordes azules */
}

/* Estilos para los siguientes tres cards con fondo blanco y texto azul */
.page-mikami .card-custom-blanco {
    background-color: #efefef; /* Fondo blanco */
    color: #0a2652; /* Texto azul */
    border: 2px solid #0a2652; /* Bordes azules */
}


.page-mikami .navbar {
    position: static !important;  /* Elimina cualquier propiedad de posicionamiento fijo */
}

.page-mikami p {
    font-size: 2.5vh;
}

.page-mikami h2 {
    font-family: "Benzin-medium";
    font-size: 3vh;
}
.page-mikami h5 {
    font-family: "Benzin-medium";
    font-size: 3vh;
}

.page-mikami h4 {
    font-size: 2.5vh;
    color: #0a2652;
}
.page-mikami .text-center a {
    font-family: "RennerBold";
    font-size: 2.5vh;
}

.button-center {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente (si es necesario) */
}

.btn-transform {
    padding: 1em 2em;
    font-size: 2vh;
    background-color: #265B89;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s, font-size 0.3s;
    display: inline-block;
}

.btn-transform:hover {
    background-color: #0a2652;
    font-size: 2.2vh;
    color: white;
}


/* FOOTER */
footer {
    position: absolute;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

footer .menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    margin: 0;
    list-style: none;
}

footer .menu li {
    margin: 0;
}

footer .menu li a {
    font-size: 1.2rem;
    color: #898e7d;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.5s;
    padding: 5px 10px;
}

footer .menu li a:hover {
    opacity: 1;
    color: #0a2652;
}

footer p {
    color: #898e7d;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

@media (max-width: 768px) {
    .iceberg-context {
        flex-direction: column;
        align-items: center;
    }

    .image-container,
    .text-container {
        flex: 1 1 100%;
        text-align: center;
    }

    .seccion_intro h1 {
        font-size: 3.2vh;
    }

    .seccion_intro p {
        font-size: 2vh;
    }

    .seccion_intro h2 {
        font-size: 2vh;
    }

    .section_autentica {
        padding: 1em;
    }

    .section_aboutme {
        padding: 1em;
    }

    .row.align-items-center {
        flex-direction: column;
    }

    .col-md-6 {
        flex: 1 1 100%;
        text-align: left;
        margin-bottom: 1em;
    }

    .img-fluid {
        max-width: 80%;
        margin: 0 auto;
    }

    .text_aboutme h1 {
        font-size: 4vh;
    }

    .text_aboutme h2 {
        font-size: 3vh;
    }

    .text_aboutme p {
        font-size: 2vh;
        line-height: 1.5;
    }
}
